<!DOCTYPE html>

<head>
    <title>sabori hakken</title>

    <meta charset="utf-8">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>

    <script src="https://cdn.socket.io/socket.io-2.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>

<body>

    <div id="main"></div>

    <div id="p5js" hidden></div>

    <script type="text/x-template" id="app">
        <div>
            <div id="header" class="relative mb20">
                <router-link to="/" id="header-title" class="ib rl va nd color-white w100" >Home</router-link>
            </div>
            <router-view></router-view>
        </div>
    </script>

    <script type="text/x-template" id="toppage">
        <div>
            <create-session-card></create-session-card>
            <join-session-card></join-session-card>
            <watch-history-card></watch-history-card>
            <button id="logout-btn" class="m10" v-on:click="logout">Logout</button>
        </div>
    </script>

    <script type="text/x-template" id="join-session-card">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">セッションに参加する</div>
            <input class="bb w100 mt10" v-model="sessionId" placeholder="Session Id"/>
            <button class="mt10" v-on:click="joinSession">Join</button>
        </div>
    </script>

    <script type="text/x-template" id="watch-history-card">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">セッションの履歴を見る</div>
            <input class="bb w100 mt10" v-model="sessionId" placeholder="Session Id"/>
            <button class="mt10" v-on:click="openHistory">Watch</button>
        </div>
    </script>


    <script type="text/x-template" id="create-session-card">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">新しくセッションを作成する</div>
            
            <div class="mt10">
                <div>セッション名</div>
                <input class="bb w100" v-model="sessionName" placeholder="新しいセッション"/>
            </div>

            <div class="mt10">
                <div>セッションの説明</div>
                <textarea class="bb w100" v-model="description" type="text" placeholder="セッションの説明"/>
            </div>

            <div class="mt10">
                <div>開始予定時刻</div>
                <input type="datetime-local" v-model="startTime" :min="nowTime()"   />
            </div>

            <div class="mt10">
                <div>終了予定時刻</div>
                <input type="datetime-local" v-model="endTime" :min="nowTime()"   />
            </div>

            <button class="mt10" v-on:click="createSession">Create</button>
        </div>
    </script>

    <script type="text/x-template" id="signup">
        <div>
            Signup
            <input v-model="name" type="text" placeholder="名前"/>
            <button v-on:click="signup">登録</button>
        </div>
    </script>

    <script type="text/x-template" id="session">
        <div>
            <div class="card p20 m10 shadow-1">
                <div class="mb10 t2">{{statusText}}</div>
                <button v-if="isWaiting && isOwner" v-on:click="startSession">Start Session</button>
                <button v-if="isStarted && isOwner" v-on:click="endSession">End Session</button>
                <button v-if="isStarted && !isOwner" v-on:click="joinSession">Join Session</button>
            </div>

            <session-info ref="sessionInfo" :sessionId="sessionId" @updated="sessionInfoUpdated"></session-info>

            <div class="card p20 m10 shadow-1">
                <canvas ref="chart1" id="all-horizontal-chart" class="w100"></canvas>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="session-info">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">セッション情報</div>
            
            <div class="mt10"> セッションID : {{sessionId}}</div>
            <div class="mt10"> セッション名 : {{sessionName}}</div>
            <div class="mt10" v-if="description.length > 0"> 詳細 : {{description}}</div>
            <user-info class="mt10" :user-id="ownerId" prefix="オーナー : "/>
            <div class="mt10"> 作成時刻 : {{createdAt}}</div>
            <div class="mt10"> {{status == "waiting" ? "開始予定時刻" : "開始時刻"}} : {{startAt}}</div>
            <div class="mt10"> {{status == "ended" ? "終了時刻" : "終了予定時刻"}} : {{endAt}}</div>
            <div class="mt10"> 状態 : {{status == "waiting" ? "待機中" : status == "started" ? "開催中" : "終了"}}</div>
        </div>
    </script>

    <script type="text/x-template" id="user-info">
        <div>
            {{prefix}}{{name}}({{userId}})
        </div>
    </script>

    <script>

        const SERVER_ADDRESS = "ws://oekaki.chat:3030"

        // from https://gist.github.com/jcxplorer/823878
        function createUUID() {
            var uuid = "", i, random;
            for (i = 0; i < 32; i++) {
                random = Math.random() * 16 | 0;

                if (i === 8 || i === 12 || i === 16 || i === 20) {
                    uuid += "-";
                }
                uuid += (i === 12 ? 4 : (i === 16 ? (random & 3 | 8) : random)).toString(16);
            }
            return uuid;
        }

        function nowTime() {
            const now = new Date();
            now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
            const str = now.toISOString().slice(0, -1);
            return str;
        }

        function createChart(canvas,title,labels,data,min=0,max=1,step=0.1) {

            let datasets = [];
            for(let key in data){
                datasets.push({
                    label: key,
                    data: data[key].data,
                    borderColor: 'rgba(' + data[key].color + ')',
                    backgroundColor: 'rgba(0,0,0,0)',
                    borderWidth: data[key].width
                });
            }

            return new Chart(canvas, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: datasets,
                },
                options: {
                    title: { display: true, text: title },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMax: max,
                                suggestedMin: min,
                                stepSize: step
                            }
                        }]
                    },
                    animation: {
                        duration: 0
                    },
                    hover: {
                        animationDuration: 0
                    },
                    responsiveAnimationDuration: 0
                }
            });
        }

        // initialize firebase
        const firebaseConfig = {
            apiKey: "AIzaSyDpFxwnIZVX92VqFJh1OGQreHb_mR5_OW8",
            authDomain: "a2021o.firebaseapp.com",
            databaseURL: "https://a2021o-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "a2021o",
            storageBucket: "a2021o.appspot.com",
            messagingSenderId: "566058073613",
            appId: "1:566058073613:web:1673c8094593afac6ddf44"
        };
        firebase.initializeApp(firebaseConfig);

        let auth = firebase.auth();
        let db = firebase.firestore();

        /*p5.js---------------------------------------------------------------------------------------------------*/
        let labelList = [];
        let isSensingEnabled = false;
        function startSensing() {
            if (isSensingEnabled) return;
            isSensingEnabled = true;
            labelList = [];
            classifyVideo();
        };
        function stopSensing() {
            if (!isSensingEnabled) return;
            isSensingEnabled = false;
        };
        /*end of p5.js---------------------------------------------------------------------------------------------------*/


        // socket通信
        function connectServer(component, sessionId, asHost) {

            console.log("connectServer");

            Vue.set(component, "statusText", "接続中...");
            Vue.set(component, "isConnected", true);

            let socket = io(SERVER_ADDRESS, {secure: true});

            let disconnect = function () {
                if (socket != null) {
                    socket.disconnect();
                    socket = null;
                }
                Vue.set(component, "isConnected", false);
            }

            let sendDataTimer = -1;

            socket.on('connect', async () => {
                console.log("connected");
                Vue.set(component, "statusText", "認証中...");

                let token = "";
                try {
                    token = await auth.currentUser.getIdToken();
                } catch (e) {
                    Vue.set(component, "statusText", "Failed to get idToken");
                    disconnect();
                    return;
                }

                socket.emit("login", token);
            });

            socket.on('disconnect', () => {
                console.log("disconnected")
                Vue.set(component, "statusText", "切断されました");
                Vue.set(component, "isConnected", false);
                Vue.set(component, "disconnectFunc", null);

                if (!asHost && sendDataTimer != -1) {
                    clearInterval(sendDataTimer);
                    sendDataTimer = -1;
                    stopSensing();
                }

                setTimeout(() => {
                    component.$refs.sessionInfo.refresh();
                }, 1000)
            });

            socket.on("login", result => {
                Vue.set(component, "statusText", "入室中...");
                socket.emit("join", sessionId);
            });

            socket.on("join", result => {

                if (asHost) {
                    Vue.set(component, "statusText", "セッションを開始しました");
                    Vue.set(component, "isWaiting", false);
                    Vue.set(component, "isStarted", true);
                    component.$refs.sessionInfo.refresh();
                }

                if (!asHost) {
                    Vue.set(component, "statusText", "入室しました");
                    startSensing();

                    sendDataTimer = setInterval(() => {

                        if(labelList.length == 0) return;

                        let smartphoneCount = 0;
                        for (let i = 0; i < labelList.length; i++) {
                            if (labelList[i] == "watchsmartphone") {
                                smartphoneCount++;
                            }
                        }

                        let result = smartphoneCount / labelList.length;
                        socket.emit("watch-data", result);
                    }, 300);
                }
            });

            if (asHost) {
                socket.on("realtime-data", data => {
                    let time = data.time;
                    let packedData = data.data;
                    component.addPackedData(time, packedData);
                });
            }

            socket.on("error", (err) => {
                console.log(err);
            });

            Vue.set(component, "disconnectFunc", disconnect);
        }


        /*components---------------------------------------------------------------------------------------------------*/

        const UserInfo = Vue.component('UserInfo', {
            template: '#user-info',
            props: {
                userId: String,
                prefix: String,
            },
            data() {
                return {
                    name: "",
                }
            },
            methods: {
                async refresh() {
                    if (this.userId === null || this.userId.length === 0) {
                        this.name = "ユーザーIDが不正です";
                        return;
                    }

                    try {
                        let doc = await db.collection("users").doc(this.userId).get();

                        if (!doc.exists) {
                            this.name = "ユーザーが存在しません";
                            return;
                        }

                        let data = doc.data();
                        this.name = data.name;

                    } catch (e) {
                        this.name = "名前の取得に失敗しました";
                        console.error(e);
                        return;
                    }
                }
            },
            watch: {
                userId: function (newVal, oldVal) {
                    this.refresh();
                }
            },
        });

        const SessionInfo = Vue.component('SessionInfo', {
            template: '#session-info',
            props: {
                sessionId: String,
            },
            components: {
                UserInfo
            },
            data() {
                return {
                    isValidSession: false,
                    sessionName: "",
                    ownerId: "",
                    description: "",
                    createdAt: "",
                    startAt: "",
                    endAt: "",
                    status: "",
                }
            },
            methods: {
                refresh: async function () {

                    if (this.sessionId === null || this.sessionId.length === 0) {
                        this.sessionName = "セッションIDが不正です";
                        return;
                    }

                    try {
                        let doc = await db.collection("sessions").doc(this.sessionId).get();

                        if (!doc.exists) {
                            this.sessionName = "セッションが存在しません";
                            return;
                        }

                        let data = doc.data();
                        this.sessionName = data.name;
                        this.ownerId = data.ownerId;
                        this.description = data.description;
                        this.createdAt = data.createdAt;
                        this.startAt = data.startTime;
                        this.endAt = data.endTime;
                        this.status = data.status;

                        this.isValidSession = true;
                    } catch (e) {
                        console.error(e);
                        this.sessionName = "セッション情報の取得に失敗しました";
                        return;
                    } finally {
                        this.$emit("updated");
                    }

                }
            },
            watch: {
                sessionId: function (newVal, oldVal) {
                    this.refresh();
                }
            },
        });

        const JoinSessionCard = Vue.component("JoinSessionCard", {
            template: '#join-session-card',
            data() {
                return {
                    sessionId: "",
                }
            },
            methods: {
                joinSession: function () {
                    this.sessionId = this.sessionId.replace(/\s/g, "");
                    this.sessionId = this.sessionId.replace("Session:", "");
                    this.$router.push({
                        name: "Session",
                        params: { sessionId: this.sessionId }
                    });
                },
            }
        });


        const WatchHistoryCard = Vue.component("WatchHistoryCard", {
            template: '#watch-history-card',
            data() {
                return {
                    sessionId: "",
                }
            },
            methods: {
                openHistory: function () {
                    this.sessionId = this.sessionId.replace(/\s/g, "");
                    this.sessionId = this.sessionId.replace("Session:", "");
                    //TODO
                },
            }
        });

        const CreateSessionCard = Vue.component('CreateSessionCard', {
            template: '#create-session-card',
            data() {
                return {
                    sessionName: "",
                    description: "",
                    startTime: "",
                    endTime: "",
                    isProcessing: false,
                }
            },
            methods: {
                async createSession() {
                    if (this.isProcessing) return;
                    this.isProcessing = true;

                    let uuid = createUUID();
                    try {

                        await db.collection("sessions").doc(uuid).set({
                            name: this.sessionName.length > 0 ? this.sessionName : "新しいセッション",
                            description: this.description,
                            ownerId: auth.currentUser.uid,
                            createdAt: nowTime(),
                            startTime: this.startTime,
                            endTime: this.endTime,
                            status: "waiting",
                        });

                        this.$router.push({
                            name: "Session",
                            params: { sessionId: uuid }
                        });

                    } catch (e) {
                        alert("セッションの作成に失敗しました" + e);
                    } finally {
                        this.isProcessing = false;
                    }
                },
                nowTime() {
                    return nowTime();
                }
            },
            mounted() {
                // now time string  
                this.startTime = nowTime();
                this.endTime = nowTime();
            }
        });


        const TopPage = Vue.component('TopPage', {
            template: "#toppage",
            components: {
                CreateSessionCard,
                JoinSessionCard,
                WatchHistoryCard
            },
            data() {
                return {
                    sessionId: ""
                }
            },
            methods: {
                logout: function () {
                    auth.signOut().then(function () {
                        console.log("signout");
                    }).catch(function (error) {
                        this.statusText = error;
                    });
                }
            }
        });

        const Signup = Vue.component('Signup', {
            template: '#signup',
            data() {
                return {
                    name: '',
                }
            },
            methods: {
                signup() {
                    auth.signInAnonymously().then(() => {
                        this.$router.push('/');

                        const id = auth.currentUser.uid;
                        db.collection('users').doc(id).set({
                            name: this.name,
                        });
                    }).catch(error => {
                        console.log(error);
                        alert('登録に失敗しました');
                    });
                }
            }
        });

        const SessionPage = Vue.component('Session', {
            template: '#session',
            components: {
                SessionInfo,
            },
            data() {
                return {
                    sessionId: "",
                    statusText: "未接続",
                    isWaiting: false,
                    isStarted: false,
                    isEnded: false,
                    isOwner: false,

                    isConnected: false,
                    connectStatusText: "",
                    users: [],
                    disconnectFunc: null,

                    packedDataSet: [],

                    chart1:null
                }
            },
            methods: {
                startSession: async function () {
                    if (!this.isWaiting || this.isConnected) return;
                    connectServer(this, this.sessionId, true);
                },
                endSession: async function () {
                    if (!this.isStarted || !this.isConnected) return;
                    this.isStarted = false;
                    this.disconnectFunc();
                },
                sessionInfoUpdated: function () {
                    let info = this.$refs.sessionInfo;
                    this.isWaiting = info.status === "waiting";
                    this.isStarted = info.status === "started";
                    this.isEnded = info.status === "ended";
                    this.isOwner = info.ownerId === auth.currentUser.uid;
                },
                joinSession: function () {
                    if (!this.isStarted || this.isConnected) return;
                    connectServer(this, this.sessionId, false);
                },
                addPackedData: function (time, data) {
                    this.packedDataSet.push({
                        time: time,
                        data: data
                    });
                    if(this.packedDataSet.length > 60) {
                        this.packedDataSet.shift();
                    }

                    console.log(data);

                    this.refreshChart();
                },
                refreshChart: function () {

                    let scroll = window.scrollY;

                    if (this.chart1 !== null) {
                        this.chart1.destroy();
                    }

                    let labels = [];
                    let data = {
                        all: {
                            color: '255, 99, 132, 1',
                            width:3,
                            data:[]
                        }
                    };
                    let timeCount = 0;
                    for(let objectIndex in this.packedDataSet){
                        labels.push(timeCount);

                        let obj = this.packedDataSet[objectIndex];
                        let sum = 0;
                        for(let uid in obj.data){
                            if(!(uid in data)){
                                data[uid] = {
                                    color: '255,0,0,1',
                                    data: [],
                                    width: 1
                                };
                                for (let i = 0; i < timeCount; i++) {
                                    data[uid].data.push(0);
                                }
                            }

                            let v = 1-obj.data[uid];
                            data[uid].data.push(v);
                            sum += v;
                        }

                        data["all"].data.push(sum/Object.keys(obj.data).length);
                        
                        //TODO 途中で抜けたデータを0で補完するべき
                        timeCount++;
                    }

                    this.chart1 = createChart(this.$refs.chart1, "関心度", labels, data);

                    window.scrollTo(0, scroll);
                }
            },
            mounted() {
                this.sessionId = this.$route.params.sessionId;
                if (this.sessionId == null || this.sessionId.length == 0) {
                    this.statusText = "セッションIDが不正です";
                    return;
                }
            },
            beforeRouteUpdate(to, from, next) {
                if (this.disconnectFunc != null) {
                    this.disconnectFunc();
                }
                this.sessionId = to.params.sessionId;
                next();
            },
            beforeRouteLeave(to, from, next) {
                if (this.disconnectFunc != null) {
                    this.disconnectFunc();
                }
                next();
            },
        });


        /*end of components-----------------------------------------------------------------------------------------*/





        const router = new VueRouter({
            routes: [
                {
                    path: '/',
                    name: 'TopPage',
                    component: TopPage,
                    meta: {
                        requiresAuth: true
                    },
                },
                {
                    path: '/signup',
                    name: 'Signup',
                    component: Signup,
                    meta: {
                        requiresAuth: false,
                        onlyNotLogin: true,
                    },
                },
                {
                    path: '/session/:sessionId',
                    name: 'Session',
                    component: SessionPage,
                    meta: {
                        requiresAuth: true
                    }
                },
                {
                    path: "*",
                    redirect: "/"
                }
            ]
        })

        // check login
        router.beforeEach((to, from, next) => {
            const requiresAuth = to.matched.some(record => record.meta.requiresAuth)
            const onlyNotLogin = to.matched.some(record => record.meta.onlyNotLogin)

            auth.onAuthStateChanged(function (user) {
                if (user) {
                    if (requiresAuth) {
                        next()
                    } else {
                        if (onlyNotLogin) {
                            next('/')
                        }
                    }
                } else {

                    if (requiresAuth) {
                        next({ name: 'Signup' })
                    } else {
                        next()
                    }
                }
            })

        })

        Vue.use(VueRouter)

        const app = new Vue({
            router,
            template: '#app'
        });
        app.$mount('#main')



        /*p5.js---------------------------------------------------------------------------------------------------*/

        // Classifier Variable
        let classifier;
        // Model URL
        let imageModelURL = 'https://teachablemachine.withgoogle.com/models/JnGMy66fo/';
        // Video
        let video;
        let flippedVideo;

        function preload() {
            classifier = ml5.imageClassifier(imageModelURL + 'model.json');
        }

        function setup() {
            let canvas = createCanvas(320, 260);
            canvas.parent(document.getElementById("p5js"));
            // Create the video
            video = createCapture(VIDEO);
            video.size(320, 240);
            video.hide();

            flippedVideo = ml5.flipImage(video);
        }

        function draw() {
            background(0);

            // Draw the video
            /*
            image(flippedVideo, 0, 0);
            */

            // Draw the label
            fill(255);
            textSize(16);
            textAlign(CENTER);
            text(labelList[labelList.length - 1], width / 2, height - 4);
        }

        // Get a prediction for the current video frame
        function classifyVideo() {
            flippedVideo = ml5.flipImage(video)
            classifier.classify(flippedVideo, gotResult);
            flippedVideo.remove();
        }

        // When we get a result
        function gotResult(error, results) {
            // If there is an error
            if (error) {
                console.error(error);
                return;
            }
            // The results are in an array ordered by confidence.
            // console.log(results[0]);
            let label = results[0].label;

            labelList.push(label);
            if (labelList.length > 45) {
                labelList.shift();
            }

            // Classifiy again!
            if (isSensingEnabled) {
                classifyVideo();
            }
        }
        /*end of p5.js---------------------------------------------------------------------------------------------------*/

    </script>

</body>

</html>