<!DOCTYPE html>

<head>
    <title>sabori hakken</title>

    <meta charset="utf-8">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/vuex"></script>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>

    <script src="https://cdn.socket.io/socket.io-2.2.0.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>

<body>

    <div id="main"></div>

    <div id="p5js" hidden></div>

    <script type="text/x-template" id="app">
        <div>
            <div id="header" class="relative mb20">
                <router-link to="/" id="header-title" class="ib rl va nd color-white w100" >Home</router-link>
            </div>
            <router-view></router-view>
        </div>
    </script>

    <script type="text/x-template" id="toppage">
        <div>
            <create-session-card></create-session-card>
            <join-session-card></join-session-card>
            <watch-history-card></watch-history-card>
            <button id="logout-btn" class="m10" v-on:click="logout">Logout</button>
        </div>
    </script>

    <script type="text/x-template" id="join-session-card">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">セッションに参加する</div>
            <input class="bb w100 mt10" v-model="sessionId" placeholder="Session Id"/>
            <button class="mt10" v-on:click="joinSession">Join</button>
        </div>
    </script>

    <script type="text/x-template" id="watch-history-card">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">セッションの履歴を見る</div>
            <input class="bb w100 mt10" v-model="sessionId" placeholder="Session Id"/>
            <button class="mt10" v-on:click="openHistory">Watch</button>
        </div>
    </script>


    <script type="text/x-template" id="create-session-card">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">新しくセッションを作成する</div>
            
            <div class="mt10">
                <div>セッション名</div>
                <input class="bb w100" v-model="sessionName" placeholder="新しいセッション"/>
            </div>

            <div class="mt10">
                <div>セッションの説明</div>
                <textarea class="bb w100" v-model="description" type="text" placeholder="セッションの説明"/>
            </div>

            <div class="mt10">
                <div>開始予定時刻</div>
                <input type="datetime-local" v-model="startTime" :min="nowTime()"   />
            </div>

            <div class="mt10">
                <div>終了予定時刻</div>
                <input type="datetime-local" v-model="endTime" :min="nowTime()"   />
            </div>

            <button class="mt10" v-on:click="createSession">Create</button>
        </div>
    </script>

    <script type="text/x-template" id="signup">
        <div>
            Signup
            <input v-model="name" type="text" placeholder="名前"/>
            <button v-on:click="signup">登録</button>
        </div>
    </script>

    <script type="text/x-template" id="session">
        <div>
            <div class="card p20 m10 shadow-1">
                <div class="mb10 t2">{{statusText}}</div>
                <button v-if="isWaiting && isOwner" v-on:click="startSession">Start Session</button>
                <button v-if="isStarted && isOwner" v-on:click="endSession">End Session</button>
                <button v-if="isStarted && !isOwner" v-on:click="joinSession">Join Session</button>
            </div>

            <session-info ref="sessionInfo" :sessionId="sessionId" @updated="sessionInfoUpdated"></session-info>

            <div class="card p20 m10 shadow-1">
                <canvas ref="chart1" id="all-horizontal-chart" class="w100"></canvas>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="session-info">
        <div class="card p20 m10 shadow-1">
            <div class="t2 bold">セッション情報</div>
            
            <div class="mt10"> セッションID : {{sessionId}}</div>
            <div class="mt10"> セッション名 : {{sessionName}}</div>
            <div class="mt10" v-if="description.length > 0"> 詳細 : {{description}}</div>
            <user-info class="mt10" :user-id="ownerId" prefix="オーナー : "/>
            <div class="mt10"> 作成時刻 : {{createdAt}}</div>
            <div class="mt10"> {{status == "waiting" ? "開始予定時刻" : "開始時刻"}} : {{startAt}}</div>
            <div class="mt10"> {{status == "ended" ? "終了時刻" : "終了予定時刻"}} : {{endAt}}</div>
            <div class="mt10"> 状態 : {{status == "waiting" ? "待機中" : status == "started" ? "開催中" : "終了"}}</div>
        </div>
    </script>

    <script type="text/x-template" id="userinfo">
        <div>{{ prefix }}{{ name }}({{ userId }})</div>
    </script>

    <script src="sensing.js"></script>
    <script src="main.js" type="module"></script>

</body>

</html>