*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e7f2ff;
}

#header {
    height: 40px;
    background-color: #003459;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 10px;
}

#header-title{
    top:8px;
}

button{
    background-color: #00A8E8;
    color: white;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.25rem;
    min-width: 100px;
}

#logout-btn{
    background-color: #444444;
}

input{
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 8px;
    font-size: 1.25rem;
}

input:focus{
    outline: none;
}

textarea{
  resize: none;
  border: 1px solid #555555;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.25rem;
}

textarea:focus{
    outline: none;
}

.rl {
    position: relative;
}

.r0{
    right: 0px;
}

.l0{
    left: 0px;
}

.mra{
    margin-right: auto;
}

.bb{
    box-sizing: border-box;
}

.t1 {
    font-size: 1rem;
}

.t2 {
    font-size: 1.25rem;
}

.t3 {
    font-size: 1.5rem;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: #fff;
}

.nd{
    text-decoration: none;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.ib {
    display: inline-block;
}

.va {
    vertical-align: middle;
}

.mt10{
    margin-top: 10px;
}

.mt20{
    margin-top: 20px;
}

.mt30{
    margin-top: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.m10 {
    margin: 10px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.shadow-0 {
    box-shadow: none;
}

.shadow-1 {
    box-shadow: 10px 5px 5px rgba(34, 34, 34, 0.342);    
}